@import url(./__title/form__title.css);
@import url(./__save-btn/form__save-btn.css);
@import url(./__full-name/form__full-name.css);
@import url(./__close-image/form__close-image.css);
@import url(./__close-btn/form__close-btn.css);
@import url(./__description/form__description.css);
@import url(./_active/form_active.css);

.form {
  display: none;
  background-color: white;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  position: absolute;
  top: 38.5%;
  left: calc(50% - 215px);
  box-shadow: 0 0 25px;
}

@media screen and (max-width: 879px) {
  .form {
    width: 282px;
    height: 322px;
    top: 20%;
    left: calc(50% - 141px);
  }
}
