@import url(./__title/form__title.css);
@import url(./__save-btn/form__save-btn.css);
@import url(./__full-name/form__full-name.css);
@import url(./__close-image/form__close-image.css);
@import url(./__close-btn/form__close-btn.css);
@import url(./__description/form__description.css);
@import url(./__container/form__container.css);

.form {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
