.form__close-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: -49px;
  right: -49px;
}

@media screen and (max-width: 879px) {
  .form__close-btn {
    right: 0;
    top: -35px;
  }
}
