.profile__edit_btn {
  border: 1px solid white;
  background-color: black;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-top: 16px;
}

@media screen and (max-width: 879px) {
  .profile__edit_btn {
    width: 18px;
    height: 18px;
  }
}
