@import url(./_inactive/div-error_inactive.css);

.div-error {
  font-family: "inter", Arial, Helvetica, sans-serif;
  color: #ff0000;
  margin-left: 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  width: 358px;
}
