.profile__container {
  display: grid;
  grid-template-columns: 17% auto 17%;
  padding-bottom: 50px;
  padding-top: 36.25px;
}

@media screen and (max-width: 879px) {
  .profile__container {
    grid-template-columns: repeat(1, auto);
    padding-bottom: 36px;
  }
}
