.profile__container {
  display: grid;
  grid-template-columns: 20% auto 17%;
  padding-bottom: 48px;
}

@media screen and (max-width: 879px) {
  .profile__container {
    grid-template-columns: repeat(1, auto);
    padding-bottom: 36px;
  }
}
