.profile__avatar {
  width: 120px;
  height: 120px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: url(../../../images/jacques.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 879px) {
  .profile__avatar {
    margin: 0 auto;
  }
}

.profile__avatar:hover {
  position: relative;
  opacity: 0.5;
  background: url("../../../images/MyVector.svg");
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 0;
  margin-left: calc(50% - 40px);
  margin-top: calc(50% - 40px);
  z-index: 5;
}
