.profile__edit-btn {
  border: 1px solid white;
  background-color: black;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-top: 16px;
}

@media screen and (max-width: 879px) {
  .profile__edit-btn {
    margin: 6px 10px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
  }
}
