.form__full-name {
  border-bottom: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: 36px;
  margin-bottom: 26px;
  width: 358px;
  padding-bottom: 10px;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  padding-left: 2px;
}

@media screen and (max-width: 879px) {
  .form__full-name {
    width: 238px;
    margin-left: 22px;
  }
}
