.profile__inner {
  position: relative;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 50;
  width: 40px;
  height: 40px;
}

.profile__inner:hover {
  background-image: url("../../../images/MyVector.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
